// Theme Overrides
@import './overrides.scss';

// Bootstrap Theme + Icons
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-icons/font/bootstrap-icons.css';

// Custom Mixins
@mixin icon-custom($src) {
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(#{$src});
}

// Components Styling
@import './components/AnotherHeader.scss';
@import './components/GameCatalogue.scss';

// App Styling
#app {
    .theme-dark,
    .theme-dark input {
        background-color: $dark;
        color:  $light;
        border-color: $gray-100;
    }


    .another-card {
        transition: transform 120ms ease-in-out;

        &:hover {
            transform: scale(1.01);
        }
    }
}
