$green:    #42b883 !default;
$blue:    #0004ff !default;
// $border-radius: 0rem !default;

@import "~bootstrap/scss/bootstrap-reboot.scss";

// extend theme colors with all colors list
$theme-colors: map-merge($theme-colors, $colors);
$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
$utilities-colors: map-merge($utilities-colors, $theme-colors-rgb);
$utilities-text-colors: map-loop($utilities-colors, rgba-css-var, "$key", "text");
$utilities-bg-colors: map-loop($utilities-colors, rgba-css-var, "$key", "bg");